<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>contact</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
        body{
          background: rgb(60, 60, 73);
        }
      h1{
        text-align: center;
        padding: 1em;
        color:rgb(79, 77, 224);
      }
        .bigForm{
        margin: auto;
        height: 50vh;
        width: 60%;
        padding: 5rem;
        text-align: center;
        background: rgb(79, 77, 224);
        color: aliceblue;

      }
   .btn{
         background-color:rgb(223, 219, 213);
         padding: 1rem 4rem;

       }
  </style>

</head>


<body>


     <h1>Inscription</h1>  

     
    
   

     
  <form class=bigForm action="" method="post">
      
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Name</label>
      <div class="col-10">
         <input type="text" id="name" name="name" placeholder="Nom" class="form-control" required>
      </div>
    </div>
        
     <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">pseudo</label>
        <div class="col-10">
           <input type="text" id="pseudo" class="form-control" name="pseudo" placeholder="pseudo" value="" required>
        </div>
      </div> 

             
       <button type="submit" class="btn" >Send</button>
     </form> 

     <h1><a href="list">Liste de utilisateurs</a></h1>

   


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

</body>
</html>