<!doctype html>
 <html lang="en">
 
 <head>
 
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Les utilisateurs </title>
   <style>
   body{
        background-color: 	rgb(60, 60, 73);
        width:80%;
        padding: 0;
        margin: auto;
   }
   section{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
    
   }
   div{
     color:	#FFA500;
     padding: 6rem;
     
   }
       h1,h2 {
         text-align: center;
         color: 	#FFA500;
         padding: 1rem;
         color:#FFA500;
       }
       .form {
               text-align: center;
       }
       textarea{
               padding: 5rem 10rem;
               border-radius: 10px;
               border-color: solid 3px blue;
       }
       .blue{
               margin-top:1rem;
               padding: 0 4rem;
       }
       .table-striped{
         background-color: white;
       }
       .button{
         background-color:#FFA500;
         padding: 0.8rem;

       }
       
   </style>
 
 </head>
 <body class="bodyWork" style="padding: 2rem;">
<section>
  

<div>
        <h1>Envoyer votre messages </h1>
        <h2>User: <%= userId %></h2>
        <form action="/message" method="post" class ="ui form">

                <div class="field">
                    <label for="message">Message</label></br>
                    <textarea name="message" id="message"></textarea>
                </div>

                <input type="hidden"  name="userId" value="<%= userId %>">  
                <button type="submit" class="ui blue labeled submit icon button">
                        <i class="fa fa-send" style="font-size:24px">    </i> Envoyer
                </button>

            </form>
        </div>

 <div>
   <h1>Les messages</h1>
      
   <table class="table table-striped">
     <thead>
       <tr>
          <!----> <th scope="col">ID</th>
           <!-- <th scope="col">Pseudo</th> -->
         <th scope="col">Messages</th>
         <th scope="col">Date</th>
         <th scope="col">Update</th>
         <th scope="col">Delete</th>
       </tr>
     </thead>
     
     <tbody>
       <% for (var i in message) { %> 
       <tr>
        <td><i class="fa fa-commenting-o" style="font-size:24px"></i></i><%=message[i].userId%></td>
         <!--<td></td> -->
         <td><%=message[i].msg_body%></td>
         <td><%=message[i].date_msg%></td>

         <td><button type="update" class="btn" ><a href="update/<%= message[i].msg_body %>"><i class="fa fa-cog" style="font-size:24px"></i></button></a></td>
         <td>
        
        <form method='POST' action=" ">
          <a data-confirm="Are you sure?" data-method="delete" href="http://localhost:8005/msg/<%= message[i].msg_body %>" rel="nofollow"><i class="fa fa-trash" style="font-size:24px"></i></a>
        </form>
        </td>
       </tr>
       <% } %>
      </tbody>
        </table>
        </div>
   </section>     
 
   <!-- Optional JavaScript -->
   <!--IMPORTANT  jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
     crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
     integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
     crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
     integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
     crossorigin="anonymous"></script>
 </body>
 
 </html> 
