<!doctype html>
 <html lang="en">
 
 <head>
 
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
   <title>Les utilisateurs </title>
   <style>
       h1{
         text-align: center;
         color: rgb(23, 23, 80);
         padding: 2rem;
       }
       .form {
               text-align: center;
       }
       textarea{
               padding: 5rem 10rem;
               border-radius: 10px;
               border-color: solid 3px blue;
       }
       .blue{
               margin-top:3rem;
               padding: 0 4rem;
       }
   </style>
 
 </head>
 <body class="bodyWork" style="padding: 2rem; width:80%;">

<div>
        <h1>Envoyer votre messages <%= userId %></h1>
        <form action="/message" method="post" class ="ui form">

                <div class="field">
                    <label for="message">Message</label></br>
                    <textarea name="message" id="message"></textarea>
                </div>

                <input type="hidden"  name="userId" value="<%= userId %>">  
                <button type="submit" class="ui blue labeled submit icon button">
                        <i class="icon edit"></i>Envoyer
                </button>

            </form>
        </div>

 
   <h1>Les messages</h1>
      
   <table class="table table-striped">
     <thead>
       <tr>
          <!-- <th scope="col">ID</th>
          <th scope="col">Pseudo</th> -->
         <th scope="col">Messages</th>
         <th scope="col">Date</th>
         <th scope="col">Update</th>
         <th scope="col">Delete</th>
       </tr>
     </thead>
     
     <tbody>
       <% for (var i in message) { %> 
       <tr>
         <!-- <td></td>
         <td></td> -->
         <td><%=message[i].msg_body%></td>
         <td><%=message[i].date_msg%></td>

         <td><button type="update" class="btn" ><a href="update/<%= message[i].msg_body %>">update</button></a></td>
         <td>
        
        <form method='POST' action=" ">
          <a data-confirm="Are you sure?" data-method="delete" href="http://localhost:8005/msg/<%= message[i].msg_body %>" rel="nofollow">Delete</a>
        </form>
        </td>
       </tr>
       <% } %>
      </tbody>
        </table>
 
   <!-- Optional JavaScript -->
   <!--IMPORTANT  jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
     crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
     integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
     crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
     integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
     crossorigin="anonymous"></script>
 </body>
 
 </html> 
