
 <!doctype html>
 <html lang="en">
 
 <head>
 
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
   <title>Les utilisateurs </title>
   <style>
       h1{
         text-align: center;
         color: rgb(23, 23, 80);
         padding: 2rem;
       }
   </style>
 
 </head>
 <body class="bodyWork" style="padding: 2rem;">
 
   <h1>Les utilisateurs</h1>
   <table class="table table-striped">
     <thead>
       <tr>
           <th scope="col">Nom</th>
         <th scope="col">Pseudo</th>
         <th scope="col">Modifier</th>
         <th scope="col">Supprimer</th>
         
       </tr>
     </thead>
     <tbody>
       <!-- <% for (var i in users) { %>  -->
       <tr>
         <td><%=users[i].user_name%></a></td>
         <td><%=users[i].pseudo%></td>
    
         <!-- <td>
           <form action="" method="POST">
             <input type="text" id="" name="newPseudo" placeholder="modifier votre pseudo" class="" required>
             <button type="update" class="btn" >OK</button>
             
             
         </form>
         </td> -->
         <td><button type="update" class="btn" ><a href="update/<%= users[i].user_id %>">modif</button></a></td>
 
         <td><form method='POST' action=" ">
           <a data-confirm="Are you sure?" data-method="delete" href="http://localhost:8005/list/<%= users[i].user_id %>" rel="nofollow">Delete</a>
       
        </form></td>
 
 
         <!-- <form action="delete" method="post">
         <td><button type="delete" class="btn" ><a href="delete/<%= users[i].user_id %>">Delete</button></a></td>
         </form> -->
       </tr>
       <!-- <% } %> -->
       <tr>
 
       </tr>
 
     </tbody>
   </table>
 
   <!-- Optional JavaScript -->
   <!--IMPORTANT  jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
     crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
     integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
     crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
     integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
     crossorigin="anonymous"></script>
 </body>
 
 </html> 